<footer class="site-footer">
  <div class="container">

    <a href="#top"><span class="top"><img src="/assets/images/ui/arrow-up.svg"> nach oben</span></a>

    <div class="clearfix"></div>

    <hgroup>
      <h1>Pixelfräulein</h1>
      <h2>Das Design-Kollektiv</h2>
    </hgroup>

    <ul>
      <li>Lindenpassage 13</li>
      <li>21244 Buchholz/Nordheide</li>
      <li>Telefon: <a href="tel:+4941811376837">0 41 81/1 37 68 37</a></li>
    </ul>

    <p><a href="mailto:{{ site.email }}">{{ site.email }}</a></p>

    <p><a href="{{ site.baseurl }}/impressum.html" class="smallprint">Impressum &amp; Datenschutz</a></p>

  </div>
</footer>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
<script src="{{ site.baseurl }}/assets/js/bootstrap/bootstrap.min.js"></script>
<script src="{{ site.baseurl }}/assets/js/script.js"></script>
