<section id="so">

  <div class="container">
    <h1><em>So</em> arbeiten die fräuleins</h1>
  </div>

  <div class="how">
    <div class="container">

      <div class="col-lg-4 service">
        <span class="numbox">1</span>
        <h2>Beratung &amp; Planung</h2>
        <p>
          Wir möchten Sie und Ihr Produkt kennenlernen und Ihnen zeigen, was wir können. Gemeinsam stellen wir die effektivsten Werbemaßnahmen zu einem Paket zusammen.
        </p>
      </div>

      <div class="col-lg-4 service">
        <span class="numbox">2</span>
        <h2>Konzeption &amp; Idee</h2>
        <p>
          Analysieren, recherchieren, konzipieren, kreieren, realisieren. Erst wenn die Produkte unserem hohen Anspruch genügen, legen wir sie Ihnen zur Ansicht vor. Sind Sie zufrieden, sind wir es auch!
        </p>
      </div>

      <div class="col-lg-4 service">
        <span class="numbox">3</span>
        <h2>Gestaltung</h2>
        <p>
          Nach dem letzten Schliff geht´s in den Endspurt. Mit unserem Netzwerk aus spezialisierten Dienstleistern sorgen wir als Ihre Werbeagentur dafür, dass Ihre Botschaft die Kunden auch erreicht.
        </p>
      </div>

    </div>
  </div>

</section>
