.site-header {
  @include vertical-padding(1.5rem);
  
  & a {
    color: $secondary;

    &:hover {
      color: darken($secondary, 10%);
    }
  }

  & nav {
    text-align: left;

    @media (min-width: 992px) {
      text-align: center;
    }

    & .social {
      float: right;
      text-align: right;

      & li {
        display: inline;
        font-family: "fontawesome";
        margin-left: 7.5px;

        & a:focus {
          text-decoration: none;
        }
      }
    }
  }

  & .navbar-nav {

    & .nav-item {
      display: block;
      float: none;
      font-size: 1rem;

      @media (min-width: 992px) {
        display: inline-block;
      }

      & + .nav-item {
        margin-left: 0;

        @media (min-width: 992px) {
          margin-left: 9px;
        }

        @media (min-width: 1200px) {
          margin-left: 30px;
        }
      }
    }
  }

  .navbar-toggler {
    padding: 0.75rem 0;
    font-size: 1.25rem;
    line-height: 1;
    background: none;
    border: none;
    border-radius: 0;
    outline: none;
  }

  & .logo {
    @include vertical-padding(0.75rem);
    text-align: center;

    @media (min-width: 992px) {
      @include vertical-padding(1.5rem);
    }

    & img {
      max-height: 420px;
      max-width: 90%;
    }
  }
}

button {
  color: $primary;
}